<style>
    .header {
        position: sticky;
        top: 0;
        z-index: 900;
        background-color: var(--theme);
    }

    .list .header {
        background: var(--code-bg);
    }
    
    .dark.list .header {
        background: var(--theme);
    }
    

    /* Logo Theme Toggle */
    body.dark .logo-light { display: none; }
    body:not(.dark) .logo-dark { display: none; }
    body.dark .logo-dark { display: inline; }
    body:not(.dark) .logo-light { display: inline; }

    a.logo-link { padding-left: 8px; }

    .logo-link:hover { 
        border-radius: 16px;
        background-color: var(--entry); 
    }

    /* Sidebar */
    #sidebar { 
        display: none;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        z-index: 900;
        background-color: var(--entry);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        padding-left: 40px;
    }
    #sidebar li { 
        margin: 0;
        width: 100%; 
    }

    .menu-button {
        display: none;
    }

    @media(max-width: 550px) {
        .hideOnMobile { display: none; }
        .menu-button { display: block; }
    }

</style>

<!-- Show and hide sidebar script -->
<script>  
    function showSidebar() {
        const sidebar = document.querySelector('#sidebar');
        sidebar.style.display = 'flex';
    } 
    function hideSidebar() {
        const sidebar = document.querySelector('#sidebar');
        sidebar.style.display = 'none';
    }
</script>

{{- /* theme-toggle is enabled */}}
{{- if (not site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }

</script>
{{- /* theme is dark */}}
{{- else if (eq site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne site.Params.defaultTheme "light") (ne site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}

<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (site.Params.label.text | default site.Title) }}
            {{- if site.Title }}
            <a class="logo-link" href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if and site.Params.label.iconLight site.Params.label.iconDark }}
                    {{- $imgLight := resources.Get site.Params.label.iconLight }}
                    {{- $imgDark := resources.Get site.Params.label.iconDark }}
                    {{- if and $imgLight $imgDark }}
                        {{- $processableFormats := (slice "jpg" "jpeg" "png" "tif" "bmp" "gif") -}}
                        {{- if hugo.IsExtended -}}
                            {{- $processableFormats = $processableFormats | append "webp" -}}
                        {{- end -}}
                        {{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}
                        {{- if and (in $processableFormats $imgLight.MediaType.SubType) (eq $prod true) }}
                            {{- if site.Params.label.iconHeight }}
                                {{- $imgLight = $imgLight.Resize (printf "x%d" site.Params.label.iconHeight) }}
                                {{- $imgDark = $imgDark.Resize (printf "x%d" site.Params.label.iconHeight) }}
                            {{ else }}
                                {{- $imgLight = $imgLight.Resize "x30" }}
                                {{- $imgDark = $imgDark.Resize "x30" }}
                            {{- end }}
                        {{- end }}
                        <img src="{{ $imgLight.Permalink }}" alt="" aria-label="logo" class="logo-light" height="{{- site.Params.label.iconHeight | default "30" -}}">
                        <img src="{{ $imgDark.Permalink }}" alt="" aria-label="logo" class="logo-dark" height="{{- site.Params.label.iconHeight | default "30" -}}">
                    {{- else }}
                        <img src="{{- site.Params.label.iconLight | absURL -}}" alt="" aria-label="logo" class="logo-light" height="{{- site.Params.label.iconHeight | default "30" -}}">
                        <img src="{{- site.Params.label.iconDark | absURL -}}" alt="" aria-label="logo" class="logo-dark" height="{{- site.Params.label.iconHeight | default "30" -}}">
                    {{- end }}
                {{- else if hasPrefix site.Params.label.iconSVG "<svg" }}
                    {{ site.Params.label.iconSVG | safeHTML }}
                {{- end }}
            </a>
            {{- end }}
            <div class="logo-switches">
                {{- if (not site.Params.disableThemeToggle) }}
                <button class="logo-link" id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
                {{- end }}

                {{- $lang := .Lang }}
                {{- $separator := or $label_text (not site.Params.disableThemeToggle) }}
                {{- $currentTranslations := .Translations | default (slice) }}
                {{- $homeTranslations := site.Home.Translations | default (slice) }}
                {{- if gt (len $homeTranslations) 0 }}
                <ul class="lang-switch">
                    {{- if $separator }}<li>|</li>{{ end }}
                    {{- range $homeTranslations -}}
                    {{- $target := . }}
                    {{- $langCode := .Lang }}
                    {{- if ne $lang $langCode }}
                    {{- /* Prefer page translation; fall back to home */ -}}
                    {{- with (first 1 (where $currentTranslations "Lang" $langCode)) }}
                        {{- $target = index . 0 }}
                    {{- end }}
                    <li>
                        <a href="{{- $target.Permalink -}}" title="{{ $target.Language.Params.languageAltTitle | default ($target.Language.Label | emojify) | default ($target.Lang | title) }}"
                            aria-label="{{ $target.Language.Label | default ($target.Lang | title) }}">
                            {{- if (and site.Params.displayFullLangName ($target.Language.Label)) }}
                            {{- $target.Language.Label | emojify -}}
                            {{- else }}
                            {{- $target.Lang | title -}}
                            {{- end -}}
                        </a>
                    </li>
                    {{- end }}
                    {{- end}}
                </ul>
                {{- end }}
            </div>
        </div>
        {{- $currentPage := . }}
        <ul class="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li class="hideOnMobile">
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                    {{- if (findRE "://" .URL) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </a>
            </li>
            {{- end }}
            <!-- Menu button -->
            <li class="menu-button" onclick=showSidebar()>
                <a href="#">
                    <svg style="margin-right: 6px; position: relative; vertical-align: -4px;" class="logo-dark" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#dadadb"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                    <svg style="margin-right: 6px; position: relative; vertical-align: -4px;" class="logo-light" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1e1e1e"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                </a>
            </li>
        </ul>
        <ul class="menu" id="sidebar">
            <!-- Close button -->
            <li onclick=hideSidebar()>
                <a href="#">
                    <svg style="float: right; margin-top: 16px; margin-right: 20px;" class="logo-light" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1e1e1e"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    <svg style="float: right; margin-top: 16px; margin-right: 20px;" class="logo-dark" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#dadadb"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </a>
            </li>
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                    {{- if (findRE "://" .URL) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>